.dashboard {
  display: flex;
}

.content {
  margin-left: 200px;
  margin-top: 70px;
  padding: 25px;
  width: 100%;
  background: #f9f9f9;
  min-height: 91.5vh;
  min-width: 88vw;
}

.title {
  text-align: left;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 15px;
}

.card {
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}