.dashboard {
  display: flex;
}

/* Main content area */
.content {
  margin-left: 260px;
  margin-top: 70px;
  padding: 25px;
  width: 100%;
  background: #f9f9f9;
  min-height: 91.5vh;
  min-width: 88vw;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.filterContainer {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Table Container */
.tableContainer {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  overflow-x: auto;
}

/* Lead Counts Table */
.dashboardTable {
  width: 100%;
  border-collapse: collapse;
}

.dashboardTable th,
.dashboardTable td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 1.1rem;
  font-weight: bold;
}

.dashboardTable thead {
  background-color: #f2f2f2;
  font-weight: bold;
}