.navbar {
  width: calc(100% - 260px);
  height: 70px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  position: fixed;
  top: 0;
  left: 260px;
  /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); */
}

.searchContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.search {
  width: 320px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

.userProfile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.notification {
  font-size: 1.4rem;
  cursor: pointer;
}

.user {
  font-weight: bold;
}